section.top-contact.bg-blue
    .container
        // this heading to make site valid 100%
        h2.heading-hidden Section lacks heading
        .md-flex.row
            .contact-info.flex.col.col-md-5.align-items-center
                span.icon.fa-stack.fa-1x
                    i.fas.fa-circle.fa-stack-2x.text-navy
                    i.fas.fa-map.fa-stack-1x.fa-inverse
                span.text.col-10 198 West 21th Street, Suite 721 New York NY 10016

            .contact-info.flex.col.col-md-4.align-items-center
                span.icon.fa-stack.fa-1x
                    i.fas.fa-circle.fa-stack-2x.text-orange
                    i.fas.fa-paper-plane.fa-stack-1x.fa-inverse
                span.text.col-10 youremail@email.com

            .contact-info.flex.col.col-md-3.align-items-center
                span.icon.fa-stack.fa-1x
                    i.fas.fa-circle.fa-stack-2x.text-green
                    i.fas.fa-phone-alt.fa-stack-1x.fa-inverse
                span.text.col-10 + 1235 2355 98
