head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-125268496-2")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-125268496-2');

    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="description" content="Our exciting new summer courses are everything kids and parents need to beat the heat and give them a head start for the next term")
    meta(name="keywords" content="School, Teacher, Student, Play, Learn, Study, Think, children, lessons, Courses")

    title #{title}

    meta(property="og:title" content="Kiddos")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://abdelrahman-kiddos.netlify.com")
    meta(property="og:image" content="img/slider-1.jpg")
    meta(property="og:description" content="Our exciting new summer courses are everything kids and parents need to beat the heat and give them a head start for the next term")
    meta(property="og:site_name" content="abdelrahman-kiddos")

    link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")

    link(rel="stylesheet" href="css/all.min.css")